@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';

body {
  font-family: "Roboto"
}

a, a:visited{
  text-decoration: none;
  color: white;
}

.AboutPage a{
  color: rgb(0, 110, 244);
  font-size: 1.3em; 
}

.AboutPage {
  font-size: 1.1em;
}

.DetailsPage {
  color: rgb(25, 131, 223)
}

#flightOffer:hover{
  transform: scale(1.05);
  background-color: whitesmoke; 
}